<div class="<%= final_wrapper_classes %>">
  <%= form.check_box field, final_field_options %>
  <%= form.label field, field_label, class: final_label_classes %>

  <% if help_text %>
    <p class="text-xs text-gray-500 mt-1 ml-6"><%= help_text %></p>
  <% end %>

  <% if has_errors? %>
    <div class="mt-1 ml-6">
      <% field_errors.each do |error| %>
        <p class="<%= error_classes %>"><%= error %></p>
      <% end %>
    </div>
  <% end %>
</div>
