<% content_for :title, t('.change_password') %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "space-y-6" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <%= render Forms::InputFieldComponent.new(
    form: f,
    field: :password,
    type: :password_field,
    label: t('.new_password'),
    autofocus: true,
    autocomplete: "new-password",
    required: true,
    help_text: @minimum_password_length ? t('.characters_minimum', count: @minimum_password_length) : nil
  ) %>

  <%= render Forms::InputFieldComponent.new(
    form: f,
    field: :password_confirmation,
    type: :password_field,
    label: t('.password_confirmation'),
    autocomplete: "new-password",
    required: true
  ) %>

  <%= render Ui::ButtonComponent.new(
    form: f,
    text: t('.change_password'),
    variant: :primary,
    full_width: true
  ) %>
<% end %>

<div class="mt-6">
  <%= render "devise/shared/links" %>
</div>
