<% content_for :title, t('.title') %>

<div class="onboarding-container">
  <%= render Onboarding::ProgressComponent.new(current_step: 'financial_goal') %>

  <div class="onboarding-language-switcher">
    <%= render Navigation::LanguageSwitcherComponent.new(params: params) %>
  </div>

  <div class="onboarding-content">
    <header class="onboarding-header">
      <h1><%= t('.title') %></h1>
      <p><%= t('.subtitle') %></p>
    </header>

    <%= render 'form' %>
  </div>
</div>
