<% if url.present? %>
  <%= link_to url, class: root_class do %>
    <div class="commitment-card__head">
      <span class="commitment-card__name"><%= title %></span>
      <% if settled? %>
        <span class="commitment-card__badge"><%= complete_label %></span>
      <% else %>
        <span class="commitment-card__remaining"><%= formatted_remaining %><span class="commitment-card__remaining-label"><%= remaining_label %></span></span>
      <% end %>
    </div>
    <%= bar %>
    <%= meta %>
  <% end %>
<% else %>
  <div class="<%= root_class %>">
    <% if settled? %>
      <span class="commitment-card__badge"><%= complete_label %></span>
    <% else %>
      <div class="commitment-card__hero">
        <span class="commitment-card__amount"><%= formatted_remaining %></span><span class="commitment-card__remaining-label"><%= remaining_label %></span>
      </div>
    <% end %>
    <div class="commitment-card__bar-row">
      <%= bar %>
      <span class="commitment-card__pct"><%= percentage %>%</span>
    </div>
    <div class="commitment-card__progress"><%= progress_summary %></div>
  </div>
<% end %>
