<% flash_messages.each do |flash| %>
  <div class="<%= flash[:classes] %>" role="alert" data-flash-type="<%= flash[:type] %>">
    <% if (icon = icon_for_type(flash[:type])) %>
      <span class="flash-message-icon" aria-hidden="true"><%= icon %></span>
    <% end %>
    <p class="flash-message-text"><%= flash[:message] %></p>
    <button type="button"
            class="flash-message-dismiss"
            aria-label="<%= t('common.dismiss', default: 'Dismiss') %>"
            onclick="this.closest('.flash-message').remove()">
      <%= dismiss_icon %>
    </button>
  </div>
<% end %>
