<div class="stat-card">
  <span class="stat-card__label"><%= label %></span>
  <span class="stat-card__value <%= "stat-card__value--positive" if trend == :positive %><%= "stat-card__value--negative" if trend == :negative %>">
    <% if currency %>
      <%= helpers.smart_format_money(value, currency) %>
    <% else %>
      <%= value %>
    <% end %>
  </span>
</div>
