<div class="<%= final_wrapper_classes %>">
  <div class="form-label-wrapper">
    <%= form.label field, field_label, class: final_label_classes %>
    <% if required %>
      <span class="form-label-required">*</span>
    <% end %>
  </div>

  <% if help_text %>
    <p class="form-help-text"><%= help_text %></p>
  <% end %>

  <div class="mt-1">
    <%= form.public_send(type, field, final_field_options) %>
  </div>

  <% if has_errors? %>
    <div class="form-errors">
      <% field_errors.each do |error| %>
        <p class="form-error-message"><%= error %></p>
      <% end %>
    </div>
  <% end %>
</div>
